language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "pypy"
  - "pypy3"

branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+.*)?$/

install:
  - pip install -e .

script: py.test
